:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calendar {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 100%;
  height: auto;
  justify-content: center;
}

.calendar-month {
  width: auto;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
}

.day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 4px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #555;
  border: 1px solid #ddd;
}

.day-name {
  font-weight: bold;
  text-align: center;
}

.header-month {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.day {
  width: fit-content;
  font-size: 0.75rem;
  position: relative;
  width: auto;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.hoverday:hover {
  color: #000;
  opacity: 0.8 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
}

ul-day {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2px;
}

li-day {
  margin: 0;
  width: 100%;
}

li-day:first-child {
  border-radius: 4px 0 0 4px;
}

li-day:last-child {
  border-radius: 0 4px 4px 0;
}

li-day:hover {
  opacity: 0.5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, box-shadow 0.3s ease;
}

.faded {
  font-size: 0.75rem;
  position: relative;
  width: auto;
  cursor: not-allowed;
  border-radius: 5px;
  opacity: 0.3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.fadedDate {
  color: #000 !important;
}

.date {
  font-weight: bold;
  height: min-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content-day {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 100%;
  border-radius: 5px;
}
